<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcmu.juanjesus.mcmuasteroids" >

    <permission android:name="com.mcmu.juanjesus.mcmuasteroids.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.write_external_storage"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.mcmu.juanjesus.mcmuasteroids.permission.MAPS_RECEIVE"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.GameActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Asteroids.FullScreen">
        </activity>

        <activity android:name=".activities.AboutActivity"
            android:theme="@style/Asteroids.Dialog">
        </activity>

        <activity android:name=".activities.PreferencesActivity">
        </activity>

        <activity android:name=".activities.ScoresActivity">
        </activity>

        <activity android:name=".activities.VideoActivity">
        </activity>

        <activity android:name=".activities.ShowLocationInfoActivity">
        </activity>

        <activity android:name=".activities.GoogleMapsActivity">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB_u7GkEp-nU3mgp3TXsMfDxkxvQMlYSnY"/>
    </application>

</manifest>
